RF Client/RFDeviceAPP/Web References/InfoWms.Api/WmsWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://com.ssaglobal.com" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" targetNamespace="http://com.ssaglobal.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://com.ssaglobal.com">
      <xsd:element name="callBackEnd">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in1" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in2" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in3" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="callBackEndResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="callBackEndRequest">
    <wsdl:part name="parameters" element="tns:callBackEnd" />
  </wsdl:message>
  <wsdl:message name="callBackEndResponse">
    <wsdl:part name="parameters" element="tns:callBackEndResponse" />
  </wsdl:message>
  <wsdl:portType name="WmsWebServicePortType">
    <wsdl:operation name="callBackEnd">
      <wsdl:input name="callBackEndRequest" message="tns:callBackEndRequest" />
      <wsdl:output name="callBackEndResponse" message="tns:callBackEndResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WmsWebServiceHttpBinding" type="tns:WmsWebServicePortType">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="callBackEnd">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="callBackEndRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="callBackEndResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WmsWebService">
    <wsdl:port name="WmsWebServiceHttpPort" binding="tns:WmsWebServiceHttpBinding">
      <wsdlsoap:address location="http://127.0.0.1:9180/WMSWebService/services/WmsWebService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>